<div class="flex bg-blue-200 rounded-3xl mt-12 md:mt-20 p-6 max-w-2xl mx-auto">
    <div class="max-w-xl mx-auto">
        <h2 class="text-lg font-bold text-blue-800 mb-4">Join the team!!</h2>
        <p class="text-blue-700 mb-4">
      If you're passionate about innovation and love to collaborate, we want to hear from you.
      Reach out to us and let's make a difference together!
    </p>
    </div>
    <div class=" space-x-4">
      <a href="#" class="text-blue-600 hover:text-blue-700">Linkedin</a>
      <a href="#" class="text-blue-600 hover:text-blue-700">Discord</a>
      <a href="#" class="text-blue-600 hover:text-blue-700">X</a>
    </div>
  </div>